footer{
    .top{
        background: rgb(9,81,190);
        background: radial-gradient(circle, rgba(9,81,190,1) -361%, rgba(2,23,54,1) 113%);
        padding-top: 48px;

        .footer_top_content{
            display: grid;
            grid-template-columns: repeat(auto-fit, 292px);
            justify-content: space-between;
            .footer_item{
                h3{
                    color: white;
                    font-size: 16px;
                    line-height: 14px;
                    margin-bottom: 15px;
                }
                ul{
                    li{
                        
                        margin-bottom: 10px;
                        a{
                            display: flex;
                            align-items: center;
                            img{
                                padding-right: 5px;
                            }

                            i{
                            padding-right: 5px;
                            }
                            font-size: 14px;
                            color: white;
                        }
                    }
                }
                .s_icon{
                    display: flex;
                    gap: 10px;
                    // li{
                    //     a{
                    //         // color: white;
                    //         // font-size: 18px;
                    //         // height: 30px;
                    //         // width: 30px;
                    //         // line-height: 30px;
                    //         // text-align: center;
                    //         // border-radius: 3px;
                    //         // border: 1px solid white;
                    //     }
                    // }
                }
            }
        }
    }
    .bottom{
        background-color: #021736;
        padding: 16px;
        .footer_bottom_content{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;

            .left{
                p{
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
    .right{
        ul{
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            li{
                a{
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
}

.subscribe_form{
    position: relative;
    margin-bottom: 20px;
    .icon{
        font-size: 20px;
        color: white;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
    .input{
        width: 100%;
        padding: 12px 36px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        box-sizing: border-box;
        font-size: 16px;
        color: white;
    }
    .button{
        background-color: transparent;
        border: 0;
        outline: 0;
        font-size: 20px;
        color: white;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        i{
            color: white;
        }
    }
}