.cart_items{
    position: absolute;
    top: calc(0% + 50px);
    right: 0;
    width: 512px;
    max-height: 700px;
    background-color: white;
    padding: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 10px 15px -10px rgb(55, 54, 54);
    // display: none;
    z-index: 9;
    display: none;

    @include xs{
        width: 100vw;
        right: calc(0px - 68px);
    }

    &.active{
        display: block;
    }

    top{
        padding-top: 10px;
        .cart_top_title{
            font-size: 18px;
            font-weight: 300px;
            line-height: 20px;
            line-height: 20px;
        }
    }
    .mid{
        padding: 8px;
        .cart_item_list{
            
            overflow-y: scroll;
            .cart_item{
                // padding: 16px 32px;
                margin-bottom: 12px;
                border-radius: 8px;
                background-color: #fff;
                box-shadow: -2px 2px 15px -1px rgb(55, 54, 54);
                display: flex;
                gap: 20px;
                align-items: center;
                @include xs{
                   
                }
                @include sm{
                    flex-direction: column;
                }
                .img{

                }
                .content{
                    .product_name{
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: 600;
                    }
                    .color{
                        font-size: 10px;
                        line-height: 12px;
                        font-weight: 300;
                        margin-top: 10px;
                    }
                    .qty{
                        font-size: 10px;
                        line-height: 12px;
                        font-weight: 300;
                        margin-top: 10px;
                    }
                    .extra_features{
                        ul{
                            display: block;
                            margin-top: 10px;
                            li{
                                display: flex;
                                gap:10px;
                                font-size: 10px;
                                line-height: 10px;
                                margin-bottom: 10px;
                                align-items: center;
                               .img{
                                height: 14px;
                                width: 14px;
                                // background-color: var(--primary);
                               } 

                            }
                        }
                    }
                 .qty_changer{
                    display: flex;
                    justify-content:space-between;
                    gap: 30px;
                    align-items: center;
                    .price{
                        font-size: 13px;
                        line-height: 15px;
                    }
                    .qty_updater{
                        display: flex;
                        button{
                            background-color: transparent;
                            border: 0;
                            outline: 0;
                            cursor: pointer;
                        }
                        img{}
                        .qty_input{
                            display: flex;
                            gap: 3px;
                            border-bottom: 1px solid grey;
                            img{}
                            
                            input{
                                width: 30px;
                                border: 0;
                                text-align: center;
                            }
                        }
                    }
                 }   
                }
            }
        }
    }
    .bottom{
       display: flex;
       gap: 32px; 
       align-items: center;
       padding: 15px;
       .left{
        .title{
            font-size: 14px;
            font-size: 300;
            line-height: 16px;
        }
        .amount{
            font-size: 15px;
            line-height: 17px;
            font-weight: 600;
        }
       }
       .right{
        flex: 1;
        a{
            background-color: var(--primary);
            border-radius: 10px;
            color: white;
            text-align: center;
            display: block;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 15px 10px;
        }
       }
    }
}