@font-face {
  font-family: "Inter-Regular";
  src: url(/assets/fonts/Inter-Regular.ttf);
}
:root {
  --border: 1px solid red;
  --primary: #0C68F4;
  --secondary: #F45E0C;
  --black: #0C0C0C;
  --white: #ffffff;
  --app_font: "inter-regular";
  --inter: "inter-regular";
}

body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: var(--app_font);
}

img,
label,
a, i, span {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.3s;
}

img {
  max-width: 100;
  object-fit: cover;
  object-position: left;
}

ul,
ol, li {
  margin: 0;
  padding: 0;
  list-style-type: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 14px;
  line-height: 32px;
  font-weight: 100;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  p {
    font-size: 14px;
  }
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header, nav, div, section, aside, main, footer {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
  font-family: var(--poppin_regular);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  h2 {
    font-size: 26px;
    line-height: 46px;
  }
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
  width: 1400px;
  margin: auto;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

nav .nav_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 18px 0px;
}
nav .nav_body .logo img {
  height: 65px;
}
nav .nav_body .menu .menue_list {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  gap: 65px;
}
nav .nav_body .menu .menue_list li a {
  font-size: 18px;
  color: var(--black);
  position: relative;
}
nav .nav_body .menu .menue_list li a::after {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background: linear-gradient(147.38deg, rgba(12, 104, 244, 0.3) 60.98%, rgba(12, 104, 244, 0.7) 81.93%, rgba(12, 104, 244, 0.3) 99.45%);
  transition-duration: 0.2s;
}
nav .nav_body .menu .menue_list li a:hover {
  color: var(--primary);
}
nav .nav_body .menu .menue_list li a:hover::after {
  width: calc(100% + 30px);
}
nav .nav_body .action_menues ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
#top_footer {
  background-color: #0f6e8c;
}
#top_footer .top_footer_content {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #top_footer .top_footer_content {
    flex-wrap: nowrap;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #top_footer .top_footer_content {
    flex-wrap: nowrap;
  }
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #top_footer .top_footer_content {
    text-align: center;
  }
}
#top_footer .top_footer_content .logo {
  width: 300px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #top_footer .top_footer_content .logo {
    width: 415px;
    display: inline-block;
    text-align: center;
  }
}
#top_footer .top_footer_content .footer_links {
  width: 180px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #top_footer .top_footer_content .footer_links {
    width: 289px;
    margin-left: 20px;
  }
}
#top_footer .top_footer_content .footer_links ul li a {
  color: rgb(204, 200, 200);
}

#bottom_footer {
  background-color: var(--brand-deep);
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #bottom_footer {
    padding-left: 0px;
  }
}
#bottom_footer .bottom_footer_content {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #bottom_footer .bottom_footer_content .left h6 {
    font-size: 9px;
  }
}
#bottom_footer .bottom_footer_content .right ul li {
  display: contents;
}
#bottom_footer .bottom_footer_content .right ul li a i {
  border-radius: 50%;
  background-color: var(--brand-light);
  color: rgb(189, 187, 187);
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  display: inline-block;
}

/*# sourceMappingURL=app.css.map */
