.blog_content{
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    @include xs {
        display: inline-block;
          }

    @include sm {
            display: inline-block;
              }

              @include md {
                display: inline-block;
                  }
    .blog_left{
        .img{
            width: 300px;
           
            img{
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                @include xs{
                    width: 97%;
                }

                @include sm{
                    width: 97%;
                }

                @include md{
                    width: 97%;
                }
            }
        }
        .upper_content{
            display: flex;
            color: rgb(165, 159, 159);
            justify-content: space-between;

            @include xs{
                display: flex;
                color: rgb(165, 159, 159);
                justify-content: space-around;
            }
            @include sm{
                display: flex;
                color: rgb(165, 159, 159);
                justify-content: flex-start;
            }

            @include md{
                display: flex;
                color: rgb(165, 159, 159);
                justify-content: flex-start;
            }

            .calender{
                display: flex;
                align-items: center;

                @include sm{
                    .calender_text{
                        padding-right: 29px;
                    }
                }

                @include md{
                    .calender_text{
                        padding-right: 29px;
                    }
                }
                
            }
            .clock{
                display: flex;
                align-items: center;
                // margin-left: 159.6px;
                
            }
        }
       .upper_content_heading{
       } 
       .upper_content_paragraph{

       }
    }
    .blog_right{
        .blog_right_content{
            .top_img{
               .img{
                img{
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px; 
                }
               } 
                display: flex;
                gap: 10px;
                align-items: center;

                @include xs {
                    display: inline-block;
                      }

                 @include sm {
                        display: inline-block;
                          }

                          @include md {
                            display: inline-block;
                              }

                

                h3{
                    color: #F45E0C;
                    @include xs {
                        font-size: 20px;
                          }
                    @include sm {
                            font-size: 20px;
                              }

                              @include md {
                                font-size: 20px;
                                  }
                }
                p{
                    @include xs {
                        font-size: 12px;
                          } 
                     @include sm {
                            font-size: 12px;
                              }

                              @include md {
                                font-size: 12px;
                                  }
                }
                .calender{
                    display: flex;
                    align-items: center;
                    color: rgb(202, 191, 191);
                }
            }
            .bottom_img{
                .img{
                    img{
                        border-bottom-left-radius: 8px;
                        border-top-left-radius: 8px;
                    }
                }
                display: flex;
                gap: 10px;
               align-items: center;

               @include xs {
                display: inline-block;
                  }

                  @include sm {
                    display: inline-block;
                      }

                      @include md {
                        display: inline-block;
                          }

               .calender{
                display: flex;
                align-items: center;
                color: rgb(202, 191, 191);
            }
            }
        }
    }
}

.product_list{
    padding-top: 20px;
    @include xs{
        margin-left: 15px;
    }
    hr{
        @include xs{
            display: none;
        }
        @include sm{
            display: none;
        }
        @include md{
            display: none;
        }
    }
}