#offers{
    padding-bottom: 50px;
    .container{
        .offer_contents{
            display: grid;
            grid-template-columns: 1fr 444px;
            gap: 30px;
            .left{
                .left_content{
                    background-image: url(/assets/offer/left_bg.png);
                    background-repeat: no-repeat;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    padding: 20px;
                    height: 420px;
                    .content_left{
                        .offer_title{
                            font-size: 20px;
                            color: white;
                            padding-left: 30px;
                            span{
                                color: black;
                            }
                        }
                        .product_image{
                            img{
                                width: 300px;
                            }
                        }
                    }
                    .content_right{
                        ul{
                            width: 244px;
                            display: flex;
                            padding: 20px 0px;
                            gap: 5px;
                            li{
                            border: 1px solid black;
                            padding: 2px;
                            gap: 5px;
                            border-radius: 8px;
                            text-align: center;
                            }  

                            a{
                                padding: 30px;
                            }
                            
                        }
                    }
                }
            }
            .right{
                .right_content{
                    .background-container{
                        background-image: url('/assets/offer/right_bg.png');
                        width: 444px;
                        height: 420px;

                        display: flex; 
                        justify-content:flex-start; 
                        align-items: flex-end; 
                        padding-bottom: 50px; 
                        padding-left: 70px;
                    }
                    .offer_btn{

                    }
                }
            }
        }
    }
}