.input-container {
    position: relative;
    display: inline-block;
    input {
    // Adjust padding to fit the image
        height: 40px; // Adjust the height as needed
        font-size: 16px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    img {
        position: absolute;
        left: 100px; // Adjust the position of the image
        top: 50%;
        padding-left: 150px;
        transform: translateY(-50%);
        height: 70%; // Adjust the size as needed
        width: 100%; // Adjust the size as needed
        @include xs{
            display: none;
        }
    }
    
}