.product_list_2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 255px));
    gap:50px;
    padding: 48px 0px;
    .product_item_2{
        max-width: 255px;
        box-shadow: -2px 2px 15px -1px rgb(173, 168, 168);
        padding: 16px;
        display: grid;
        .top{
            position: relative;
            overflow: hidden;
            text-align: center;
             .img{
                img{
                    
                    transition-duration: .3s;
                    
                }
             }
            .favorite{
                position: absolute;
                top: 0px;
                left: -35px;
                font-size: 24px;
                color: black;
                z-index: 9;
                transition-duration: 0.3s;
            }

            .color_list{
                position: absolute;
                right: 0;
                z-index: 9;
                top: 50%;
                transform: translate(-50%);
                li{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
                img{
                    width: 200px;
                    margin-bottom: 5px;
                }
            
            .title{
                a{
                    h3{
                        font-size: 16px;
                        text-align: center;
                        color: var(--black);
                    }
                }
                
                
            }
            .price{
                display: flex;
                justify-content: space-between;
                .right{
                    color: var(--navy-blue);
                }
            }

        }
        &:hober{
            .top{
                .img{
                    img{
                        transform:scale(1.2);
                    }
                }
                a{
                    img{

                    }
                }
            }
        }
    }
}