.top_sales_part{
    background-color: var(--navy-blue);
    background-image: url(/assets/images/sales/shape.png);
    // display: grid;
    // grid-template-columns: 290px 1fr;
  
    margin-bottom: 48px;
    border-radius: 8px;
    background-repeat: no-repeat;
    display: flex;
    gap: 80px;
    

    @include xs{
        grid-template-columns: 1fr;
        // display: inline-block;
    }

    .left{
        text-align: center;
        color: var(--white);
        padding: 10px;
        .heading{
            font-size: 24px;
            margin-top: 62px;
            margin-bottom: 8px;
            h3{
                font-weight: 100;
            }
            
        }
        .sub_heading{
            font-size: 20px;
            font-family: Inter-thin;
            margin-bottom: 84px;
        }
        .link{
            font-size: 16px;
            color: var(--white);
            display: inline-flex;
            gap: 5px;
            justify-content: center;
            margin-bottom: 62px;
            img{

            }
        }
    }

    .right{
       color: white;
       border-radius: 8px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       width: 200px;
       padding: 16px;
       text-align: center;
       font-family: Arial, sans-serif; 
       background-color: white;
       margin-top: 10%;
    }
    .discount-badge {
        background-color: grey;
        color: white;
        border-radius: 4px;
        font-size: 14px;
        padding: 4px 8px;
        position: absolute;
        top: 40px;
        left: 0px;
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
      }
      .product-name {
        font-size: 16px;
        color: black;
        margin-bottom: 8px;
      }
      .price {
        font-size: 14px;
        color: black;
        text-decoration: line-through;
      }
      .discounted-price {
        font-size: 18px;
        color: black;
        font-weight: bold;
      }
}