$main-color: #eaeaea;
$text-color: #333;

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

body {
    font-family: Arial, sans-serif;
    background-color: $main-color;
    color: $text-color;
}

.containerblg{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    flex: 2;
    margin-right: 20px;

    .featured-article {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
        
        h2 {
            margin: 10px 0;
            font-size: 24px;
        }
        
        p {
            font-size: 16px;
            line-height: 1.6;
        }
    }

    .top-articles {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @include xs{
            display: block;
            margin-left: 80px;
        }

        .article {
            background: white;
            padding: 20px;
            border-radius: 8px;
            width: 48%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }

            h3 {
                margin: 10px 0;
                font-size: 20px;
                &:hover{
                    color: orange;
                }
            }

            p {
                font-size: 14px;
                line-height: 1.6;
            }
        }
    }

    .recent-posts {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h3 {
            margin-bottom: 10px;
            font-size: 20px;
            
        }

        .post {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
                width: 200px;
                height: 200px;
                border-radius: 8px;
                margin-right: 10px;
            }

            p {
                font-size: 14px;
                line-height: 1.6;
            }
        }
    }
}

.sidebar {
    flex: 1;
@include xs{
    display: none;
}
    .videos {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h3 {
            margin-bottom: 10px;
            font-size: 20px;
        }

        .video {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                margin-right: 10px;
            }

            p {
                font-size: 14px;
                line-height: 1.6;
            }
        }
    }
}