.container{
    .section_details{
        .laptop_details{
            .laptop_content{
                .sub_container{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 10px;
            max-width: 1200px;
            background-color: white;
            padding: 20px;
                    @include xs(){
                        display: block;
                    }
                }
            }
        }
    }
}