#productIconsOnCategory{
    .containertwo{
        display: grid;
        padding: 20px; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        @include xs(){
            grid-template-columns: 1fr 1fr 1fr;
         }
        .product_icon{
            .product_content{
                img,p{
                    
                }
                
            }
           
        }
       
    }
    
}
.sub_container{



@include xs(){
    display: block;
padding-bottom: 10px;
padding-top: 10px;
 }

    .sidebar{
    padding: 10px;
    }
}
